var template_thing = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}

var wikidata = [];

%>

<!-- title -->
<h1>
	<% 
	var title = '';
	
	if (title == '') {
		if (item.name) {
			title = get_literal(item.name);
		}
	}

	if (title == '') {
		if (item['dcterms:title']) {
			title = get_literal(item['dcterms:title']);
		}
	}
	
	if (title == '') {
		if (item['dc:title']) {
			title = get_literal(item['dc:title']);
		}
	}
	%>
   <%= title %>
</h1>

<!-- other things -->
<div>

<table style="table-layout: fixed;" width="100%">

<% for (var i in item) { %>
	<tr>
	<td class="td_key"><%= i %></td>
	<td class="td_value">
	<%- get_value(item[i]) %>
	</td>
	</tr>
<% }%>	

</table>

</div>

<!-- identifiers for mapping to Wikidata -->


<% 
	// ORCID
	if (item['@id'].match(/orcid.org/)) {
		var orcid =  item['@id'];
		orcid = orcid.replace('https://orcid.org/', '');
		wikidata.push('?item wdt:P496 "' + orcid + '"');
	}
	
	// DOI
	if (item['@id'].match(/doi.org/)) { 
		var doi = item['@id'];
		
		doi = doi.replace(new RegExp('https?:\/\/(dx.)?doi.org\/'), '');
		wikidata.push('?item wdt:P356 "' + doi.toUpperCase() + '"');
	}
	
	// IPNI name
	if (item['@id'].match(/urn:lsid:ipni.org:names:/)) { 
		var lsid = item['@id'];
		
		lsid = lsid.replace(new RegExp('urn:lsid:ipni.org:names:'), '');
		wikidata.push('?item wdt:P961 "' + lsid) + '"');
	}		
	
	// WORMS
	if (item['@id'].match(/urn:lsid:marinespecies.org:taxname:/)) { 
		var lsid = item['@id'];
		
		lsid = lsid.replace(new RegExp('urn:lsid:marinespecies.org:taxname:'), '');
		wikidata.push('?item wdt:P850 "' + lsid) + '"');
	}	
	
%>

<!-- wikidata -->
<% 
	if (wikidata.length > 0) {
		var sparql = 'SELECT * WHERE {';
		
		sparql += '{' + wikidata.join('} UNION { ') + '}';

		sparql += '}'; 
		
		document.getElementById("wikidata").setAttribute("data-sparql", sparql);
	}
%>




`;